<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note List</title>
</head>
<body>
<h2>Note List</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td th:text="${note.id}"></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.content}"></td>
        <td>
            <a th:href="@{/note/edit/{id}(id=${note.id})}">Edit</a>
            <form th:action="@{/note/delete}" method="post">
                <input type="hidden" name="deletedNoteId" th:value="${note.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/note/create}">Create New Note</a>
</body>
</html>